#heading-name a:link {
  color: teal;
  text-decoration: none;
  font-size:1.45em;
  line-height: 1.2;
  font-family: Georgia;
}

#heading-name a:hover {
  font-weight: none;
}

#nav {
  width: 30.6666666667%;
  z-index: 1;
  position: fixed;
}

#nav ul li {
 list-style: none;
 margin-bottom: 20px;
}

#nav a:link {
 text-decoration: none;
}

#nav a:hover {
 text-decoration: bold;
}

#content {
  margin-left: 30.6666666667%;
  padding-left: 40px;
  z-index: auto;
  padding-top: 45px;
}

.bottom-img {
    position:fixed;
    cursor:pointer;
    height: 5%;
    right: 4.5%;
    bottom: 6%;
    opacity: 0.8;
}

.bottom-text {
  position: fixed;
  font-size: 1.0rem;
  text-align: right;
  right: 4.5%;
  bottom: 2px;
}
